@import "./../base/vars";

.welcome {
  height: 100vh;
  max-height: 1080px;

  .welcome_video_bg{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    z-index: 0;
  }

  .welcome_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    position: relative;
    z-index: 1;

    h2 {
      color: $white;
      padding: 418px 0 66px 0;
      text-align: center;
    }

    p {
      color: $white;
      font-size: 20px;
      max-width: 1000px;
      text-align: center;
    }
    a{
      position: relative;
      top: 129px;
      transition: ease-in-out 0.2s;

      &:hover{
        top: 132px;
      }
    }
  }

}

@media only screen and (max-width: $laptop) {
  .welcome{
    padding: 0 30px;

    .welcome_content{
      h2{
        font-size: 50px;
      }
      p{
        font-size: 16px;
      }
    }
  }
}
@media only screen and (max-width: $mobile) {
  .welcome{
    max-height: 844px;

    .welcome_content{
      h2{
        font-size: 30px;
        padding: 295px 0 66px 0;
      }
      p{
        font-size: 13px;
      }
    }
  }
}